body{
 background-color: coral;
    font-size: 100px;
}
/*#d1{
    float: left;
}
#d2{
    float: left;
}
#d3{
    float: left;
}
#d4{
    float: left;
}
#d5{
    float: left;
}*/
.lewy{
    float: left;
}
